.header {
  position: relative;
}
.header-page {
  display: flex;
  align-items: center;
}
.logo {
  text-decoration: none;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.47;
  @media screen and (min-width: 767px) {
    margin-right: 88px;
    font-size: 26px;
  }
  @media screen and (min-width: 1199px) {
    font-size: 30px;
    margin-right: 93px;
  }
}
.app {
  color: #fcae61;
}
.lab {
  color: #242f51;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  @media screen and (max-width: 767px) {
    height: 80px;
  }
  &-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  &-list .link {
    display: block;
    color: $primary-text-color;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-list .link:hover,
  &-list .link:focus {
    color: $accent-color;
  }
  &-list .link.current {
    color: $accent-color;
  }
  &-list .link.current::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
    transform: scaleX(1);
    bottom: 1px;
  }
  &-item {
    font-size: 18px;
    line-height: 1.167;
    padding: 8px 0px;
  }
  &-item:not(:last-child) {
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .navigation-item:not(:last-child) {
    margin-bottom: 20px;
  }
  .navigation-list-deck {
    display: none;
  }
  .primary-deck {
    display: none;
  }
}

.menu-button {
  width: 40px;
  height: 40px;
  margin: 0px;
  margin-left: auto;
  padding: 0px;
  border: none;
  background: transparent;
}
.menu-button .icon-menu {
  display: none;
}
.menu-button.is-open .icon-menu {
  display: block;
}
.menu-button.is-open .icon-close-menu {
  display: none;
}
.menu-container {
  display: none;
  position: absolute;
  z-index: 999;
  top: 100%;
  left: 0;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fff;
  border-top: 1px solid #ececec;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  transform: scaleY(0.9);
  transform-origin: top center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-open {
    display: block;
  }
}
.menu-button:hover,
.menu-button:focus {
  fill: $accent-color;
}
@media screen and (min-width: 768px) {
  .menu-container.is-open {
    display: none;
    transform: scaleY(1);
  }
  .menu-button {
    display: none;
  }
  .header-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navigation-list {
    flex-direction: row;
    margin-bottom: 0px;
  }

  .navigation-item {
    font-size: 14px;
    line-height: 1.167;
    margin-bottom: 0;
    padding: 32px 0px;
  }
  .navigation-item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation-list .link.current::after {
    bottom: -2px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address-list__items:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation-list .link.current::after {
    bottom: -4px;
  }
}
